<form>
  <h2>Jet de {{txtNom}} sous <b>{{attrbName}}</b>
  </h2>
  
  <div class="flexcol">
      <div class="flexrow">
        <div class="flex1">
          Score
        </div>
        <div class="flex1">
          <input type='text' name='score' value="{{score}}" />
        </div>
        <div class="flex1">
        </div>
        <div class="flex1">
        </div>
    </div>
  </div>
  <div class="flexcol">
    <div class="flexrow">
      <div class="flex2">
        Dés
      </div>
      <div class="flex1">
        <select  name="des">
            {{selectOptions LstDes selected=des}}
        </select>
      </div>
      <div class="flex1">
        <button data-preset="cranMoins" type="button">
          - cran
        </button>
      </div>
      <div class="flex1">
        <button data-preset="cranPlus" type="button">
          + cran
        </button>
      </div>
    </div>
  </div> 
  <div class="flexcol">
    <div class="flexrow">
      <div class="flex1">
        Dommage : 
      </div>
      <div class="flex1">
        <input type='text' name='dommage' value="{{dommage}}" />
        <input type="hidden" name="txtNom" value="{{txtNom}}" />
      </div>
      <div class="flex1">
      </div>
      <div class="flex1">
      </div>
    </div>
  </div>
  <div class="flexcol">
   </div>
  
</form>