<form>
  <h2>Jet de {{txtNom}} sous <b>{{attrbName}}</b></h2>
  <div class="flexrow">
    <div class="flexcol">
      <button data-preset="cranMoins" type="button">
        1 cran de moins
      </button>

      <button data-preset="cranPlus" type="button">
        1 cran de plus
      </button>
    </div>

    <div class="flexcol">
      <label>
        Score
        <input type='text' name='score' value="{{score}}" />
      </label>

      <label>
        Dés
        <select  name="des">
            {{selectOptions LstDes selected=des}}
        </select>
      </label>
      <label> Dommage : 
        <input type='text' name='dommage' value="{{dommage}}" />
      </label>
      <input type="hidden" name="txtNom" value="{{txtNom}}" />
    </div>
  </div>
</form>